<div class="content">
  <h2 class="mat-typography">Anmelden</h2>
  <mat-divider></mat-divider>
  <form [formGroup]="createForm" class="create-form">
    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input matInput type="text" maxlength="9" minlength="9" formControlName="personalNumber" #personalNumber>
      <mat-label>Ausweisnummer</mat-label>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input matInput type="password" formControlName="password" #password>
      <mat-label>Passwort</mat-label>
    </mat-form-field>

    <mat-divider></mat-divider>
    <br>
    <div class="button-container">
      <button type="submit" style="width: 100%"
              (click)="login(personalNumber.value, password.value)"
              [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="accent" class="button">
        Anmelden
      </button>
    </div>
  </form>
</div>
