<form [formGroup]="wahlForm">
  <div style="text-align: left;">
    <h1><b>Amtlicher Stimmzettel</b><br></h1>
    <h3>Für die Wahl zum Landtag des Saarlandes <br>
      im Wahlkreis

      <span>{{electionData2?.region | slice:0:16}}</span>

      am

      <span>{{electionData2?.endDate | date: 'longDate': 'de-DE'}}</span>

    </h3>
    <h1><b>Jeder Wähler / Jede Wählerin hat eine Stimme.</b><br><br></h1>
  </div>
  <mat-radio-group formControlName="erststimme">
    <div *ngFor="let party of parties" class="auswahl">
      <mat-radio-button [value]="member.id" (click)="toggleRadio($event, 'erststimme')" (change)="onSelectionMemberChange(member)">
        <p>
          <span style="font-weight: bold">{{member.lastName}}</span>
          <span>, {{member.firstName}}</span></p>
        <p style="max-width: 60%; font-size: 0.7rem;">
          {{member.profession}}
        </p>
       </mat-radio-button>
  <br>
  <button type="submit" style="width: 100%" (click)="pushParty(1)" mat-raised-button color="accent" class="button">
    Absenden
  </button>
</form>
