
<body>

<div style="text-align: left;">
  <h1><b>Amtlicher Stimmzettel</b><br></h1>
  <h3>Für die Wahl zum Landtag des Saarlandes <br>
    im Wahlkreis <div id="wahlkreis">
      am <span id="date"></span><br><br></div></h3>
  <h1><b>Jeder Wähler / Jede Wählerin hat eine Stimme.</b><br><br></h1>
</div>
<div class="auswahl">
  <input type="checkbox" id="option1a" name="votedBW" value="Option 1A">
  <label for="option1a">Option 1A</label><br>
  <input type="checkbox" id="option1b" name="votedBW" value="Option 1B">
  <label for="option1b">Option 1B</label><br>
  <input type="checkbox" id="option1c" name="votedBW" value="Option 1C">
  <label for="option1c">Option 1C</label><br>
</div>
<input type="submit" value="Absenden">
</body>

