<div style="text-align: left;">
  <h1><b>Amtlicher Stimmzettel</b><br></h1>
  <h3>Für die Wahl zum Landtag von Baden-Württemberg <br>
    im Wahlkreis

    <a routerLink="/">
      <span>{{electionData1?.type}}</span>
      <span>{{electionData1?.region | slice:0:16}}</span>
    </a>

    am

    <a routerLink="/">
      <span>{{electionData2?.type}}</span>
      <span>{{electionData2?.endDate | date: 'longDate': 'de-DE'}}</span>
    </a><br><br>

  </h3>
  <h1><b>Jeder Wähler / Jede Wählerin hat eine Stimme.</b><br><br></h1>
</div>
<div *ngFor="let data of electionData3" class="auswahl">
  <mat-checkbox>
    <span>{{data.abbreviation}}</span>
  </mat-checkbox>
</div>
<input type="submit" value="Absenden">
