.auswahl{
  border-width: 2px;
  margin: auto;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  background-color: #FBF8EF;
}


Input[type="submit"] {
  text-align: center;
  align-content: center;
  width: 30%;
  height: 70px;
  padding:5px 15px;
  margin: 20px 20px 20px 20px;
  background: #F7D358;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

Input[type="submit"]:hover {
  background-color: #FFBF00;
  transition: background-color 1s;
  transform: translate(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}



