<div style="text-align: left;">
  <h1><b>Amtlicher Stimmzettel</b><br></h1>
  <h3>Für die Wahl zum Landtag von Baden-Württemberg <br>
    im Wahlkreis

    <span>{{electionData2?.region | slice:0:16}}</span>

    am

    <span>{{electionData2?.endDate | date: 'longDate': 'de-DE'}}</span>

  </h3>
  <h1><b>Jeder Wähler / Jede Wählerin hat eine Stimme.</b><br><br></h1>
</div>
<div *ngFor="let data of electionData4" class="auswahl">
  <mat-checkbox>
    <span>{{data.abbrevation}}</span>
  </mat-checkbox>
</div>
<input type="submit" value="Absenden">
