<div class="content">
  <br>
  <mat-divider></mat-divider>
  <form [formGroup]="createForm" class="create-form" (ngSubmit)="myNgForm.resetForm(); password.value=''; showButton = false;" #myNgForm="ngForm">
    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input matInput type="text" maxlength="9" minlength="9" formControlName="personalNumber" #personalNumber>
      <mat-label>Ausweisnummer</mat-label>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input matInput formControlName="firstName" #firstName>
      <mat-label>Vorname</mat-label>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input matInput formControlName="lastName" #lastName>
      <mat-label>Nachname</mat-label>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthdate" #birthdate>
      <mat-label>Geburtstag</mat-label>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker startView="multi-year" color="accent" #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <mat-select formControlName="federalState" (selectionChange)="checkAvailableConstituencies(federalState.value)" #federalState>
        <mat-option *ngFor="let federalState of federalStates" [value]="federalState">
          {{federalState}}
        </mat-option>
      </mat-select>
      <mat-label>Bundesland</mat-label>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <mat-select formControlName="constituency" #constituency>
        <mat-option *ngFor="let constituency of constituencies" [value]="constituency.name">
          {{constituency.name}}
        </mat-option>
      </mat-select>
      <mat-label>Wahlkreis</mat-label>
    </mat-form-field>

    <mat-form-field class="field-full-width" [hideRequiredMarker]="true">
      <input id="passwordField" matInput type="text" #password [disabled]="true">
      <mat-label>Passwort</mat-label>
    </mat-form-field>

    <mat-divider></mat-divider>
    <br>
    <div class="button-container">
      <button type="submit" *ngIf="!showButton" [disabled]="createForm.pristine || createForm.invalid"
              (click)="generatePassword()" mat-raised-button color="accent" class="button">
        Passwort generieren
      </button>
      <button type="submit" *ngIf="showButton"
              (click)="register(personalNumber.value, firstName.value, lastName.value, birthdate.value, constituency.value, federalState.value, password.value)"
              [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="accent" class="button">
        Anlegen
      </button>
      <button mat-raised-button color="warn" routerLink="/admin" class="button button-right">Zurück</button>
    </div>
  </form>
</div>
