
<body>

<div style="text-align: center;">
  <h1><b>STIMMZETTEL</b><br></h1>
  <h3>Für die Wahl zum Deutschen Bundestag <br>
    im Wahlkreis

    <a routerLink="/">
      <span>{{electionData1?.type}}</span>
      <span>{{electionData1?.region | slice:0:16}}</span>
    </a>

    am

    <a routerLink="/">
    <span>{{electionData2?.type}}</span>
    <span>{{electionData2?.endDate | date: 'longDate': 'de-DE'}}</span>
    </a><br><br>
  </h3>

  <h2 id="groß"><b>Sie haben 2 Stimmen</b><br><br></h2>
</div>

<form action="submit.php" method="post" onsubmit="return validateForm()">
  <div class="container">
    <div class="erststimme">
      <div style="text-align: right;">
        <img
          class="bild"
          src="assets/wahl1.png"
        />
        <h2><b>Hier 1 Stimme</b><br></h2>
        <h3>für die Wahl<br></h3>
        <h2><b>eines
          /einer Wahlkreisabgeordneten<br><br><br>Erststimme</b></h2>
      </div>
      <label for="erststimme"></label>

      <div class="auswahl">
          <mat-checkbox>
            <a routerLink="/">
              <span>{{electionData3?.lastName}} {{electionData3?.firstName}}</span>
            </a>
          </mat-checkbox>
      </div>

    </div><br><br><br><br>

    <div class="zweitstimme">
      <div style="text-align: left;">
        <img
          class="bild"
          src="assets/wahl2.png"
        />
        <h2><b>Hier 1 Stimme</b><br></h2>
        <h3>für die Wahl<br></h3>
        <h2><b>einer Landesliste (Partei)</b><br></h2>
        <h3>-maßgebende Stimme für die Verteilung der Sitze insgesamt auf die einzelnen Parteien-</h3>
        <h2><b>Zweitstimme</b><br></h2>
      </div>
      <label for="zweitstimme"></label>

      <div class="auswahl">
        <mat-checkbox>
            <a routerLink="/">
              <span>{{electionData3?.abbrevation}}</span>
            </a>
          </mat-checkbox>
      </div>
      
    </div>
  </div>
  <input type="submit" value="Absenden">
</form>
</body>
