<!-- Toolbar -->
<mat-toolbar class="toolbar" color="accent">
  <img
    alt="Finales Logo"
    src="assets/Finales%20Logo.png"
  />
  <a class="title" routerLink="/">Wahlinator</a>
  <div class="spacer"></div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="navMenu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span (mouseleave)="menuTrigger.closeMenu()">
    <mat-menu #navMenu="matMenu" xPosition="before"
              [overlapTrigger]="false" style="max-width: none !important;">
        <button mat-menu-item class="menuButton" color="primary"
                routerLink="/faq">
          <mat-icon>question_answer</mat-icon>
          <p>FAQ</p>
        </button>
        <a mat-menu-item class="menuButton" color="primary"
                href="https://archiv.wahl-o-mat.de/bundestagswahl2021/app/main_app.html">
          <mat-icon>how_to_vote</mat-icon>
          <p>Wahl-O-Mat</p>
        </a>
        <button mat-menu-item class="menuButton" *ngIf="isLoggedIn" color="primary"
              routerLink="/" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <p>Abmelden</p>
        </button>
    </mat-menu>
  </span>

 </mat-toolbar>

<div class="content" role="main">
  <!-- Router -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
  </footer>
</div>



