<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wie registriere ich mich, um online abzustimmen?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Sie können sich bei dem Bürgerbüro in ihrer Nähe registrieren.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wie finde ich heraus, ob ich zur Wahl zugelassen bin?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Wenn auf der Wahlauswahl Seite eine Wahl für sie zur verfügung steht dan sind sie für diese Wahl zugelassen.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Welche Dokumente werden für die Identitätsverifikation benötigt?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Für die Identitätsverifikation bei der registrierung wird nur der Personalausweis benötigt.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        An wen kann ich mich wenden, wenn ich technische Probleme oder Fragen habe?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Wenn sie weitere Fragen zur Online Wahl haben, wenden sie sich an das Wahlinator3000 Team.</p>
  </mat-expansion-panel>

</mat-accordion>
